
$accent-color: #2196F3;
$logo-color: #000;
$title-color: #212121;
$text-color: #757575;
$main-color: #FFF;
$team-bg: #F5F4FA;
$footer-bg: #2F303A;
$footer-contact: rgba(255, 255, 255, 0.60);
$footer-input: rgba(255, 255, 255, 0.30);
$border-card: #EEEEEE;
$portfolio-line: #ECECEC;
$card-overlay: rgba(33, 150, 243, 0.90);
$hero-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
$input-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
$gradient: rgba(47, 48, 58, 0.40);
$client-border: #AFB1B8;
$modal-color: #0c070879;