@use"../base/variables" as *;

@use"../utils/placeholder";

.team {
    background-color: $team-bg;
    padding-bottom: 60px;
    padding-top: 60px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
    }

    & .container{
    display: flex;
    // margin-bottom: 95px;
    flex-direction: column;
    }

    &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
        font-size: 28px;
        letter-spacing: 0.03em;
        text-align: center;
        color: $title-color;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-weight: 700;
        font-size: 36px;
    }

    }

    &__list {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 30px;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1200px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    }

    &__item {
        // border-bottom-left-radius: 4px;
        // border-bottom-right-radius: 4px;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        background: $main-color;
        width: 100%;
        height: 100%;

        @media screen and (min-width: 480px) {
        width: 450px;
        height: 622px;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 536px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 428px;
        }
    }

    &__foto { 
    width: 100%;
    // height: 460px;
    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
        width: 450px;
        height: 460px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        height: 374px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 260px;
    }
    }

    &__name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: $title-color;
    margin-bottom: 10px;
    }

    &__role {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: $text-color;
    margin-bottom: 16px;
    }

    &__box {
    display: flex;
    justify-self: center;
    gap: 10px;
    margin-bottom: 24px;
    }
    
    &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    background-color: $accent-color;
    .team__socials {
        fill: $main-color;
    }
}
    }

    &__socials {
    fill: $client-border;
    width: 20px;
    height: 20px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}


















