%indents-on-sections {
    padding-top: 94px;
    padding-bottom: 94px;
}

%testimonials-sect {
    padding-bottom: 94px;
}

%contakti-futer {
    padding-bottom: 60px;
    padding-top: 60px;
}

%heder-nuxz {
    padding: 10px 0;
}